* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: whitesmoke;
  height: 100vh;
}

@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

.main-container {
  @include fastDisplay(none, column, nowrap);
  min-height: 70vh;
  // width: 97.6vw;

  header {
    @include fastDisplay(space-evenly, column, nowrap);
    height: 220px;
    width: 100%;
    background-image: url('./assets/quake-header.jpg');
    position: relative;
    // font-size: 48px;
    padding: 10px;
  }

  header::before {
    background-color: rgba(0,0,0,0.60);
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

  }

  h1, h2 {
    position: relative;
    font-size: 3rem;
    color: white;
  }

  h3 {
    margin: 20px 0;
  }

  .card {
    border-radius: 8px;
    height: 250px;
    margin: 50px 10px;
    width: 40vw;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    padding: 10px;
  }

  .title-card {
    margin: 10px 0;
  }

  .card-key {
    color: #9E2E21;
    font-weight: 800;
  }

  .card-info {
    margin: 10px 0;
  }

  .box-container {
    @include fastDisplay(space-evenly, row, nowrap);
    width: 100%;
    margin: 20px 0;
  }

  .select-left, .select-right {
    @include fastDisplay(space-evenly, row, nowrap);
  }

}